@model Alytalo_MVC.Models.Lampotilat

@{
    ViewBag.Title = "Delete";
}

<h2>Poisto</h2>

<h3>Haluatko varmasti poistaa lämpötilan?</h3>
<div>
    <h4>Lampotilat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NykyLampotila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NykyLampotila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TavoiteLampotila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TavoiteLampotila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huoneet.Huone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huoneet.Huone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poisto" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin lämpötiloihin", "Index")
        </div>
    }
</div>
