@model Alytalo_MVC.Models.Valot

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Valot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valaisin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valaisin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValonTila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValonTila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValonMaara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValonMaara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huoneet.Huone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huoneet.Huone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Valo_id }) |
    @Html.ActionLink("Takaisin valoihin", "Index")
</p>
